.row.sonhos {
    display: flex;
    justify-content: space-evenly;
}

@media (min-width: 992px){
    .col-lg-8 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.mb-3-ini {
    margin: 50px 0px 15px 8vw;
}

.content-title {
    color: #F0A117;
}

.row-cols-md-3.sonhos {
    
}
